<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>新規投稿</h2>
    <form method="POST" action="/insert">
        <label>user id</label>
        <input type="text" name="user_id" placeholder="1"><br>
        <label>content</label>
        <input type="text" name="content" placeholder="content">
        <input type="submit" value="投稿する">
    </form>
    <h2>参照</h2>
    <th:block th:if="${#lists.isEmpty(tweetList)}">
        <h3>tweetがありません</h3>
    </th:block>
    <th:block th:if="!${#lists.isEmpty(tweetList)}">
        <table>
            <tr class="table-header">
                <td>id</td>
                <td>user id</td>
                <td>content</td>
                <td>削除ボタン</td>
            </tr>
            <tr th:each="tweet : ${tweetList}">
                <td th:text="${tweet.id}"></td>
                <td th:text="${tweet.userId}"></td>
                <td class="content" th:text="${tweet.content}"></td>
                <td>
                    <form method="POST" action="/delete">
                        <input type="hidden" name="id" th:value="${tweet.id}">
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        </table>
    </th:block>
    <a href="/">TOPへ戻る</a>
</body>

</html>